.login-title {
    font-size: 2.5rem;
}

.btn-login {
    background-color: blue;
    padding-left: 55px;
    padding-right: 55px;
}

.btn-cancel {
    padding-left: 55px;
    padding-right: 55px;
}

.p-viewer {
    position: relative;
    margin: -7% 13px;
    float: right;
}